@font-face{
	font-family: SFProDisplayBlack;
	font-display: swap;
	src: url("../fonts/SFProDisplayBlack.woff2") format("woff2"), url("../fonts/SFProDisplayBlack.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SFProDisplayRegular;
	font-display: swap;
	src: url("../fonts/SFProDisplayRegular.woff2") format("woff2"), url("../fonts/SFProDisplayRegular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SFProDisplaySemibold;
	font-display: swap;
	src: url("../fonts/SFProDisplaySemibold.woff2") format("woff2"), url("../fonts/SFProDisplaySemibold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: SFProDisplayBold;
	font-display: swap;
	src: url("../fonts/SFProDisplayBold.woff2") format("woff2"), url("../fonts/SFProDisplayBold.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
